* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: a;
}

body {
    background-image: url(./assets/background-img.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -250px;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.game-container {
    width: 100%;
    max-width: 420px;    
    backdrop-filter: blur(10px);
    padding: 30px 25px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    box-shadow: 0 5px 40px black;
    background-color: rgb(158, 154, 154);
}

.game-container h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

#instruction {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}


#guess {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}


#check, #restart {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

#check {
    background: red;
    color: white;
    font-weight: 600;
}

#check:hover {
    background: #ff6565;
}

#restart {
    background: red;
    color: white;
    margin-top: 12px;
    font-weight: 600;
}

#restart:hover {
    background: #d94444;
}


#result {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
}


/* Media Queries */
@media (max-width: 480px) {
    body{
    background-position-y: 0px;

    }
        .game-container {
        max-width: 330px;
        padding: 22px 18px;
        backdrop-filter: blur(10px);
        box-shadow: 0 8px 25px rgba(221, 219, 219, 0.2);
}

    
    .game-container h1 {
        font-size: 22px;
        color: white;
    }
    #instruction {
    color: white;
}
    #guess, #check, #restart {
        font-size: 15px;
        padding: 10px;
    }


    }
    